@import url("./styles/main.css");
@import url("./styles/globe.css");
@import url("./styles/typography.css");

body {
  background-color: "#222";
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}