.title_box {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 80px;
  top: 30px;
}

.article_heading {
  font-size: 84px !important;
  text-align: right;
  color: #e1ecff;
  text-shadow: 1px 1px 3px #4e4e4e;
}

.article_info {
  font-size: 22px;
  text-align: right;
  color: #023047;
}